{% extends 'main.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}

<!--{% for room in rooms %}-->
<!--    {{ room.name }}-->
<!--{% endfor %}-->


<div class="container">
    <div class="row">

        {% for room in rooms %}
        <div class="col-lg-3 col-md-6" style="height: 200px; padding: 3px; ">
            <div id="aaa" class=" justify-content-center" style="width: 100%; height: 98%; padding: 10px; background-color: white;">

                <div class="row">

                    <div class="col-12 d-flex align-items-center">

                        <div>

                            <h5><a style="color: grey;" href="{% url 'rooms' room.id %}">{{room.name}}</a></h5>
                            <small style="font-weight: bold;">@{{room.host}}</small>
                            <div class="justify-content-end">
                                <small>Members: {{room.participants.count}}</small>
                            </div>
                        </div>

                    </div>

                    {% if request.user == room.host %}

                    <div class="col-12  d-flex flex-row justify-content-center align-items-center" style="height: 100px;">

                        <div>
                            <medium class="mr-5 mt-4"><a style="color: grey;" href="{% url 'update-room' room.id %}">Update</a></medium>
                        </div>
                        <div>
                            <medium class="ml-5 mt-4"><a style="color: grey;"href="{% url 'delete-room' room.id %}">Delete</a></medium>
                        </div>

                    </div>
                    {% endif %}

                </div>

            </div>
        </div>

        {% endfor %}

        <div class="col-lg-3 col-md-6" style="height: 200px; padding: 15px;">
            <div class="d-flex justify-content-center" style="padding: 18px; height: 100%; top: 60%;background-color: white; border: 1px solid #6B6B6B;">
<!--                <h5 class="mt-5"><a class="mt-2" href="{% url 'create-room' %}">Create new room</a></h5>-->
                 <h5 class="mt-5"><a href="" data-toggle="modal" data-target="#modalCreateRoom">Create new room</a></h5>
            </div>
        </div>

    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modalCreateRoom">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form method="POST" action="">
              {% csrf_token %}
              {{ form|crispy }}
            <input type="Submit" value="Submit"/>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






{% endblock content %}