{% extends 'main.html' %}
{% load static %}

{% block content %}

<!--{% for room in rooms %}-->
<!--    {{ room.name }}-->
<!--{% endfor %}-->


<div class="container">
    <div class="row">

    {% for room in rooms %}
        <div class="col-lg-3 col-md-6 justify-content-center" style="height: 200px; padding: 5px;">
            <div class="border justify-content-center" style="padding: 8px; height: 100%;">
                <h3><a class="text-dark" href="{% url 'rooms' room.id %}">{{room.name}}</a></h3>
                <small>@{{room.host}}</small>
                {% if request.user == room.host %}
                <div class="d-flex justify-content-center">
                    <medium class="mr-3 mt-3"><a style="color: grey;" href="{% url 'update-room' room.id %}">Update</a></medium>
                    <medium class="ml-3 mt-3"><a style="color: grey;"href="{% url 'delete-room' room.id %}">Delete</a></medium>
                </div>
<!--                <p><a href="{% url 'update-room' room.id %}">Update Room</a></p>-->
<!--                <p><a href="{% url 'delete-room' room.id %}">Delete Room</a></p>-->
                {% endif %}
            </div>
        </div>
    {% endfor %}

        <div class="col-lg-3 col-md-6" style="height: 200px; padding: 5px;">
            <div class="border d-flex justify-content-center" style="padding: 8px; height: 100%; top: 50%;">
                <medium class="mt-5"><a href="{% url 'create-room' %}">Create new room</a></medium>
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
            </div>
        </div>
    </div>
</div>


{% endblock content %}