{% extends 'main.html' %}
{% load static %}

{% block content %}

<!--{% for room in rooms %}-->
<!--    {{ room.name }}-->
<!--{% endfor %}-->


<div class="container">
    <div class="row">
    {% for room in rooms %}
        <div class="col-lg-3" style="height: 200px; padding: 5px;">
            <div class="border" style="padding: 8px; height: 100%;">
            <h3><a href="{% url 'rooms' room.id %}">{{room.name}}</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    {% endfor %}
        <div class="col-lg-3" style="height: 200px; padding: 5px;">
            <div class="border" style="padding: 8px; height: 100%;">
                <h3><a href="{% url 'create-room' %}">Create new room</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>


    </div>
</div>

<!--<div class="container">-->
<!--    <div class="d-flex align-content-end flex-wrap" style="background-color: rgba(255,0,0,0.1);">-->
<!--        {% for room in rooms %}-->
<!--        <div class="border d-flex justify-content-center" style="height: 120px; width: 25%;">-->
<!--            <div style="background-color: red;" class="position relative">-->
<!--                <div class="position-absolute top-50 start-50">-->
<!--                    {{ room.name }}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->


{% endblock content %}