{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="container border"style="height: 460px;">
    <div>
    {{ rooms2.name }}
        <hr>
        {{ rooms2.description }}
        <hr>
        <div>
            <div>
                <medium>Members: {{rooms2.participants.count}}</medium>
            </div>
            <hr>
            {% for participant in rooms2.participants.all %}
                <p>@{{ participant }} </p>
            {% endfor %}
        </div>

    </div>
</div>




{% endblock content %}